-#  This file is app/views/movies/index.html.haml
= render_breadcrumbs :separator => ' / '
%h1
  %span
    All Movies
    %a.btn.btn-primary.pull-right{href: new_movie_path}
      %i.fa.fa-plus
      Add new movie

%div.table-responsive
  %table#movies.table.table-bordered.table-hover.table-striped
    %thead
      %tr
        %th Movie Title
        %th Rating
        %th Release Date
        %th More Info
    %tbody
      - @movies.each do |movie|
        %tr
          %td= movie.title
          %td= movie.rating
          %td= movie.release_date
          %td= link_to "More about #{movie.title}", movie_path(movie)
%div.box
%div.box
%div.box
%div.box
<i class="fa fa-facebook-official"></i>
