!!! 5
%html
  %head
    %title RottenTobacco!
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'

    = csrf_meta_tags

  %body
    %div.container-fluid
      %div.row
        %div.col-md-2

          %div.panel.panel-default
            %div.panel-body
              Left - side

        %div.col-md-7
          - if flash[:notice]
            %div.alert.alert-success{"role" => "alert"}
              %button.close{"type" => "button", "data-dismiss" => "alert", "aria-label" => "Close"}
                %span{"aria-hidden" => "true"}
                  &times;
              #notice.message= flash[:notice]
          - elsif flash[:warning]
            %div.alert.alert-danger{"role" => "alert"}
              %button.close{"type" => "button", "data-dismiss" => "alert", "aria-label" => "Close"}
                %span{"aria-hidden" => "true"}
                  &times;
              #warning.message= flash[:warning]
          = render :partial => 'sessions/login'
          %br
          = yield
        %div.col-md-3
          %div.panel.panel-default
            %div.panel-body
              Right - side